<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
              <li class="breadcrumb-item"><a routerLink="/family">Familias</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar</li>
          </ol>
          <h6 class="slim-pagetitle">Familia</h6>
      </div><!-- slim-pageheader -->
      <div class="section-wrapper mg-t-20">
          <div class="form-layout form-layout-7">
              <form [formGroup]="familyForm" (ngSubmit)="update(family)">
                 
                  <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Codigo:
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                  [(ngModel)]="family.id"
                                   type="text"
                                   name="code"
                                   id="code"
                                   formControlName="code"
                                   required
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese el codigo"
                                   only-number
                                   disabled="true">
                              <div *ngIf="submitted && f.code.errors" >
                                 <div *ngIf="f.code.errors.required">* Requerido</div>
                             <div *ngIf="f.code.errors.pattern">Invalido</div>
                            </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Descripción
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                   [(ngModel)]="family.description"
                                   type="text"
                                   name="description"
                                   formControlName="description"
                                   id="description"
                                   required
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese descripción">
                             <div *ngIf="submitted && f.description.errors" >
                                <div *ngIf="f.description.errors.required">* Requerido</div>                               
                             </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                            Imagen 
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                            <img src="{{url}}/img/{{family.image}}" height="120" width="80">
                           <input type="file" id="archivoInput" name="ImagenFile" (change)="onFileSelected($event)"  placeholder="Seleccione Imagen"   accept=".png, .jpg, .bmp" />
                      
                        </div><!-- col-8 -->
                  </div><!-- row -->          
                  
  <!-- Button trigger modal -->
        <div class="section-wrapper mg-t-20" >
           <div class="col-lg-8 mg-t-10 mg-lg-t-0" >
                    <div class="row mg-l-2"  >
                        <div class="img- layout"  style="float:right; border:30px" data-toggle="modal" 
                        data-target="#modalbutton"  *ngFor="let item of selectProduct" (click)="addProduct(item)">
                                <img src=""{{url}}/img/{{item.image}}"  
                                class="img- layout" style="float:right; border:1px solid #ECECEE" height="120" width="80">                          
                                                     
                       </div>
                            <div *ngIf="accessFamilyEdit" class="img- layout"  style="float:right; border:30px" data-toggle="modal" 
                            data-target="#exampleModal" ><img src="./assets/img/images/mas.svg" 
                            class="img- layout" style="float:right; border:1px solid #ECECEE" height="120" width="80" >
                            </div>
                            
                    </div>
                          
            </div>  
      </div><!-- row -->
      
        <!-- Button trigger modal -->
        
             <!-- Modal -->
                    <div *ngIf="accessFamilyEdit" class="modal fade" id="modalbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-body" id="modal-body">
                        <button type="submit" class="btn btn-primary  btn-block mg-b-10" data-dismiss="modal" aria-label="Close" (click)="removeProduct(product)">Quitar</button>
                        <button data-toggle="modal"  data-dismiss="modal" class="btn btn-primary  btn-block mg-b-10"  aria-label="Close" data-target="#radio">Cambiar</button>
                    </div><!-- btn-demo -->
                    </div>
                    </div>
                    </div> 
             
    <!-- Modal -->
      <div class="modal fade" id="radio" tabindex="-1" role="" aria-labelledby="radioLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 536px">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Seleccione Producto</h5>
            </div>
            <form action="">
                <div class="modal-body">
                        <div class="modal-dialog modal-lg"><div class="modal-content" uib-modal-transclude="">
                                <div style="text-align: right; padding: 10px;">
                                        Buscar <input type="text" ng-model="searchLayout" placeholder="Buscar" #filtro >
                                    </div>
                            <table class="table table-responsive-md" style="width: 500px;">
                                <thead class="mdb-color lighten-4">
                                 <tr class="th-lg">
                                    <th class="th-lg" class="text-center" style="cursor: pointer;">Codigo</th>
                                    <th class="th-lg" class="text-center" style="cursor: pointer;">Descripcion</th>
                                    <th class="th-lg">Seleccionar</th>                        
                                </tr>
                                </thead>
                                <tbody>
    <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
      <tr scope="row"  >
        <th scope="row"  class="text-center" scope="row">
    </th> 
    <tr *ngFor="let item of products| searchfilter : 'id' : filtro.value"> 
            <th scope="row" class="text-center">{{item.id}}</th>
            <td class="text-center">{{item.description}}</td>            
            <td class="text-center">
                <input id="is3dCheckBox" [(checked)]=item.checked type="radio" name="radio" (change)="changeProductTemp(item,$event)"/>
            </td> 
    </tr>
    </tbody> 
    </table>
    <div class="modal-body ng-scope" id="modal-body">
    <div class="form-layout form-layout-7">
    
                                </div><!-- form-layout -->
                            </div>
                        
                            <div class="modal-footer ng-scope">
                                <button class="btn btn-primary" type="submit" data-dismiss="modal" aria-label="Close" (click)="changeProduct(product)">OK</button>
                                <button  class="btn btn-warning"  data-dismiss="modal" aria-label="Close" type="submit" (click)= "clearProducts()">Cancel</button>
                            </div>
                        </div>
                            </div>
                </div>
            </form>         </div>
        </div>
      </div>              

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 536px; height:536px;">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Seleccione Producto</h5>
            </div>
            <form action="">
                <div class="modal-body">
                        <div class="modal-dialog modal-lg"><div class="modal-content" uib-modal-transclude="">
                                <div style="text-align: right; padding: 10px;">
                                        Buscar <input type="text" ng-model="searchLayout" placeholder="Buscar" #filtro >
                                    </div>
                            <table class="table table-responsive-md" style="width: 500px;">
                                <thead class="mdb-color lighten-4">
                                 <tr class="th-lg">
                                    <th class="th-lg" class="text-center" style="cursor: pointer;">Codigo</th>
                                    <th class="th-lg" class="text-center" style="cursor: pointer;">Descripcion</th>
                                    <th class="th-lg">Seleccionar</th>                        
                                </tr>
                                </thead>
                                <tbody>
    <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
      <tr scope="row"  >
        <th scope="row"  class="text-center" scope="row">
    </th> 
    <tr *ngFor="let item of products| searchfilter : 'id' : filtro.value"> 
            <th scope="row" class="text-center">{{item.id}}</th>
            <td class="text-center">{{item.description}}</td>            
            <td class="text-center">
                <input id="is3dCheckBox" [(checked)]=item.checked type="checkbox" (change)="addProductoTemp(item, $event)"/>
            </td> 
    </tr>
    </tbody> 
    </table>
    <div class="modal-body ng-scope" id="modal-body">
    <div class="form-layout form-layout-7">
    
                                </div><!-- form-layout -->
                            </div>
                        
                            <div class="modal-footer ng-scope">
                                <button class="btn btn-primary" type="submit" data-dismiss="modal" aria-label="Close" (click)= "addProducts()">OK</button>
                                <button  class="btn btn-warning"  data-dismiss="modal" aria-label="Close" type="submit" (click)= "clearProducts()">Cancel</button>
                            </div>
                        </div>
                            </div>
                </div>
            </form>         </div>
        </div>
      </div>  
      
      
   
      
      
      
      
                  <div class="form-layout-footer pd-20">
                      <a routerLink="/family" class="btn btn-secondary bd-0" style="color:white">Volver</a>
                      <button *ngIf="accessFamilyEdit" class="btn btn-primary bd-0" style="margin-left: 3px;">Guardar</button>
                  </div><!-- form-layout-footer -->
              </form>
          </div><!-- form-layout -->
      </div><!-- section-wrapper -->
  </div>
</div>
<app-footer></app-footer>