<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel" >
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">DASHBOARD</li>
          </ol>

      <h6 class="slim-pagetitle">Dashboard</h6>
    </div><!-- slim-pageheader -->

    <div class="dash-headline">
      <div class="dash-headline-left">
        <div class="dash-headline-item-one">s
          <div id="chartArea1" class="dash-chartist"></div>
          <div class="dash-item-overlay">
            <h1>$3,298</h1>
            <p class="earning-label">PRODUCTIVIDAD POR BALANZA</p>
            <p class="earning-desc"></p>
            <a href="#" class="statement-link">ESTADOS POR<i class="fa fa-angle-right mg-l-5"></i></a>
          </div>
        </div><!-- dash-headline-item-one -->
      </div><!-- dash-headline-left -->

      <div class="dash-headline-right">
        <div class="dash-headline-right-top">
          <div class="dash-headline-item-two">
            <div id="chartMultiBar1" class="chart-rickshaw"></div>
            <div class="dash-item-overlay">
              <h4>1,232,678</h4>
              <p class="item-label">Page Visits</p>
              <p class="item-desc">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus...</p>
              <a href="#" class="report-link">View Report <i class="fa fa-angle-right mg-l-5"></i></a>
            </div>
          </div><!-- dash-headline-item-two -->
        </div><!-- dash-headline-right-top -->
        <div class="dash-headline-right-bottom">
          <div class="dash-headline-right-bottom-left">
            <div class="dash-headline-item-three">
              <span id="sparkline3" class="sparkline wd-100p">1,4,4,7,5,9,10,5,4,4,7,5,9,10</span>
              <div>
                <h1>29,931</h1>
                <p class="item-label">Male Visitors</p>
                <p class="item-desc">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus...</p>
              </div>
            </div><!-- dash-headline-item-three -->
          </div><!-- dash-headline-right-bottom-left -->
          <div class="dash-headline-right-bottom-right">
            <div class="dash-headline-item-three">
              <span id="sparkline4" class="sparkline wd-100p">1,4,4,7,5,7,4,3,4,4,6,5,9,7</span>
              <div>
                <h1>45,231</h1>
                <p class="item-label">Female Visitors</p>
                <p class="item-desc">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus...</p>
              </div>
            </div><!-- dash-headline-item-three -->
          </div><!-- dash-headline-right-bottom-right -->
        </div><!-- dash-headline-right-bottom -->
      </div><!-- wd-50p -->
    </div><!-- d-flex ht-100v -->

    <div class="card card-dash-one mg-t-20">
      <div class="row no-gutters">
        <div class="col-lg-3">
          <i class="icon ion-ios-analytics-outline"></i>
          <div class="dash-content">
            <label class="tx-primary">Impressions</label>
            <h2>822,490</h2>
          </div><!-- dash-content -->
        </div><!-- col-3 -->
        <div class="col-lg-3">
          <i class="icon ion-ios-pie-outline"></i>
          <div class="dash-content">
            <label class="tx-success">Page Visits</label>
            <h2>465,183</h2>
          </div><!-- dash-content -->
        </div><!-- col-3 -->
        <div class="col-lg-3">
          <i class="icon ion-ios-stopwatch-outline"></i>
          <div class="dash-content">
            <label class="tx-purple">Commision</label>
            <h2>781,524</h2>
          </div><!-- dash-content -->
        </div><!-- col-3 -->
        <div class="col-lg-3">
          <i class="icon ion-ios-world-outline"></i>
          <div class="dash-content">
            <label class="tx-danger">Earnings</label>
            <h2>369,657</h2>
          </div><!-- dash-content -->
        </div><!-- col-3 -->
      </div><!-- row -->
    </div><!-- card -->


      <div class="row row-sm mg-t-20">
          <div class="col-lg-6">
              <div class="card card-table">
                  <div class="card-header">
                      <h6 class="slim-card-title">Productividad por balanza</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive">
                      <table class="table mg-b-0 tx-13">
                          <thead>
                          <tr class="tx-10">
                              <th class="pd-y-5">Local</th>
                              <th class="pd-y-5">Balanza</th>
                              <th class="pd-y-5 tx-right">Ventas</th>
                              <th class="pd-y-5">Ganancias</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">PANADERIA</td>
                              <td class="valign-middle tx-right">3,345</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">FRUTERIA</td>
                              <td class="valign-middle tx-right">720</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">CARNICERIA</td>
                              <td class="valign-middle tx-right">1,445</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-left">PANADERIA</td>
                              <td class="valign-middle tx-right">2,500</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span></td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-left">FRUTERIA</td>
                              <td class="valign-middle tx-14 tx-right">223</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span></td>
                          </tr>
                          </tbody>
                      </table>
                  </div><!-- table-responsive -->
              </div><!-- card -->
          </div><!-- col-6 -->
          <div class="col-lg-6 mg-t-20 mg-lg-t-0">
              <div class="card card-table">
                  <div class="card-header">
                      <h6 class="slim-card-title">Productividad por local</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive">
                      <table class="table mg-b-0 tx-13">
                          <thead>
                          <tr class="tx-10">
                              <th class="pd-y-5">Local</th>
                              <th class="pd-y-5 tx-right">Ventas</th>
                              <th class="pd-y-5">Ganancias</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-right">3,345</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-right">720</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-right">1,445</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-right">2,500</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span></td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-14 tx-right">223</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div><!-- card -->
          </div><!-- col-6 -->
      </div><!-- row -->
      <div class="row row-sm mg-t-20">
          <div class="col-lg-6">
              <div class="card card-table">
                  <div class="card-header">
                      <h6 class="slim-card-title">TOP 10 BALANZA</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive">
                      <table class="table mg-b-0 tx-13">
                          <thead>
                          <tr class="tx-10">
                              <th class="pd-y-5">Local</th>
                              <th class="pd-y-5">Balanza</th>
                              <th class="pd-y-5 tx-right">Ventas</th>
                              <th class="pd-y-5">Ganancias</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">PANADERIA</td>
                              <td class="valign-middle tx-right">3,345</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">FRUTERIA</td>
                              <td class="valign-middle tx-right">720</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">CARNICERIA</td>
                              <td class="valign-middle tx-right">1,445</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-left">PANADERIA</td>
                              <td class="valign-middle tx-right">2,500</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span></td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-left">FRUTERIA</td>
                              <td class="valign-middle tx-14 tx-right">223</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span></td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">PANADERIA</td>
                              <td class="valign-middle tx-right">3,345</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">FRUTERIA</td>
                              <td class="valign-middle tx-right">720</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">LA FLORIDA</td>
                              <td class="valign-middle tx-left">CARNICERIA</td>
                              <td class="valign-middle tx-right">1,445</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> </td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-left">PANADERIA</td>
                              <td class="valign-middle tx-right">2,500</td>
                              <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span></td>
                          </tr>
                          <tr>
                              <td class="valign-middle tx-left">SAN MIGUEL</td>
                              <td class="valign-middle tx-left">FRUTERIA</td>
                              <td class="valign-middle tx-14 tx-right">223</td>
                              <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span></td>
                          </tr>
                          </tbody>
                      </table>
                  </div><!-- table-responsive -->
              </div><!-- card -->
          </div><!-- col-6 -->
          <div class="col-lg-6 mg-t-20 mg-lg-t-0">
              <div class="card card-table">
                  <div class="card-header">
                      <h6 class="slim-card-title">ACTIVIDADES</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive">
                      <table class="table mg-b-0 tx-13">
                          <thead>
                          <tr class="tx-10">
                              <th class="pd-y-5">ACTIVIDAD</th>
                              <th class="pd-y-5 tx-right">COMPONENTE</th>
                              <th class="pd-y-5 tx-right">USUARIO</th>
                              <th class="pd-y-5">&nbsp;</th>
                          </tr>
                          </thead>
                          <tbody>
                          <!--<tr *ngFor ="let activity of activities" *ngIf="$index < 10">

                              <td class="valign-middle tx-left" *ngIf="activity.type === 'layout' && !activity.isCreation">Actualización Layout</td>
                              <td class="valign-middle tx-left" *ngIf="activity.type === 'layout' && !activity.isCreation && activity.isDelete">Eliminación Layout</td>
                              <td class="valign-middle tx-left" ngIf="activity.type === 'layout' && activity.isCreation">Creación Layout</td>

                              <td class="valign-middle tx-left" ngIf="activity.type === 'product' &&activity.isCreation && !activity.isDelete">Creación Producto</td>
                              <td class="valign-middle tx-left" ngIf="activity.type === 'product' &&!activity.isCreation && !activity.isDelete">Actualización Producto</td>
                              <td class="valign-middle tx-left" ngIf="activity.type === 'product' && !activity.isCreation && activity.isDelete">Eliminación Producto</td>

                              <td class="valign-middle tx-left" ngIf="activity.type === 'family' &&activity.isCreation && !activity.isDelete">Creación Familia</td>
                              <td class="valign-middle tx-left" ngIf="activity.type === 'family' &&!activity.isCreation && !activity.isDelete">Actualización Familia</td>
                              <td class="valign-middle tx-left" ngIf="activity.type === 'family' && !activity.isCreation && activity.isDelete">Eliminación Familia</td>
                              <td class="valign-middle tx-left" ngIf="activity.type === 'scales'">Actualización Layout Balanzas</td>

                              <td class="valign-middle tx-right" ngIf="activity.type === 'layout'">{{activity.layout.name}}</td>
                              <td class="valign-middle tx-right" ngIf="activity.type === 'scales'">{{countScales(activity.locals)}} Balanza(s)</td>
                              <td class="valign-middle tx-right" ngIf="activity.type === 'product' || activity.type === 'family'">{{activity.object.description}} </td>

                              <td class="valign-middle tx-right">{{activity.user.name}} {{activity.user.last_name}}</td>
                              <td class="valign-middle tx-right">{{activity.date | date :  "dd/MM/y HH:mm"}}</td>
                          </tr>-->

                          </tbody>
                      </table>
                  </div><!-- table-responsive -->
              </div><!-- card -->
          </div><!-- col-6 -->
      </div><!-- row -->
  </div><!-- container -->
</div><!-- slim-mainpanel -->
<app-footer></app-footer>