<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
              <li class="breadcrumb-item"><a routerLink="/rol">Roles</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar</li>
          </ol>
          <h6 class="slim-pagetitle">Roles</h6>
      </div><!-- slim-pageheader -->
      <div class="section-wrapper mg-t-20">
          <div class="form-layout form-layout-7">
              <form [formGroup]="roleForm" (ngSubmit)="update(role)" >
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Nombre:
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <input class="form-control"
                                [(ngModel)]="role.name"                               
                                 type="text"
                                 name="code"
                                 id="code"
                                 required
                                 formControlName="code"
                                 required-message="'* Requerido'"
                                 placeholder="Ingrese el nombre">
                          <div *ngIf="submitted && f.code.errors" >
                                 <div *ngIf="f.code.errors.required">* Requerido</div>                             
                            </div>
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Descripción
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <input class="form-control"
                                [(ngModel)]="role.description"
                                 type="text"
                                 name="description"
                                 id="description"
                                 required
                                 formControlName="description"
                                 required-message="'* Requerido'"
                                 placeholder="Ingrese la descripción">
                           <div *ngIf="submitted && f.description.errors" >
                                <div *ngIf="f.description.errors.required">* Requerido</div>                               
                             </div>
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Estadisticas
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">

                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input  type="radio" name="accessStatistics" (change)="addAcceso(role,0, $event)" [(checked)]="accessStatistics" >
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input  type="radio"  name="accessStatistics" (change)="addAcceso(role,1, $event)" [(checked)]="accessStatisticsView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Tiendas
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessStore" (change)="addAcceso(role,0, $event)" [(checked)]="accessStore">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessStore" (change)="addAcceso(role,1, $event)" [(checked)]="accessStoreView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessStore" (change)="addAcceso(role,2, $event)" [(checked)]="accessStoreEdit">
                                  <span>Editar</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Layouts
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessLayout" (change)="addAcceso(role,0, $event)" [(checked)]="accessLayout">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessLayout" (change)="addAcceso(role,1, $event)" [(checked)]="accessLayoutView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessLayout" (change)="addAcceso(role,2, $event)" [(checked)]="accessLayoutEdit">
                                  <span>Editar</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Actualizar <br> Balanzas
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessUpdateScale" (change)="addAcceso(role,0, $event)" [(checked)]="accessUpdateScale">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessUpdateScale" (change)="addAcceso(role,2, $event)" [(checked)]="accessUpdateScaleEdit">
                                  <span>Editar</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Productos
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessProduct"  (change)="addAcceso(role,0, $event)" [(checked)]="accessProduct">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessProduct" (change)="addAcceso(role,1, $event)" [(checked)]="accessProductView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessProduct" (change)="addAcceso(role,2, $event)" [(checked)]="accessProductEdit">
                                  <span>Editar</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Familias
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessFamily" (change)="addAcceso(role,0, $event)" [(checked)]="accessFamily">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessFamily" (change)="addAcceso(role,1, $event)" [(checked)]="accessFamilyView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessFamily" (change)="addAcceso(role,2, $event)" [(checked)]="accessFamilyEdit">
                                  <span>Editar</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Administracion
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessAdministration" (change)="addAcceso(role,0, $event)" [(checked)]="accessAdministration">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessAdministration" (change)="addAcceso(role,1, $event)" [(checked)]="accessAdministrationView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessAdministration" (change)="addAcceso(role,2, $event)" [(checked)]="accessAdministrationEdit">
                                  <span>Editar</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Actividades
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <div class="col-lg-12">   
                             <label class="rdiobox">
                                  <input type="radio" name="accessActivity" (change)="addAcceso(role,0, $event)"   [(checked)]="accessActivity">
                                  <span>Sin Acceso</span>
                              </label>
                          </div><!-- col-3 -->
                          <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                              <label class="rdiobox">
                                  <input type="radio"  name="accessActivity"(change)="addAcceso(role,1, $event)" [(checked)]="accessActivityView">
                                  <span>Ver</span>
                              </label>
                          </div><!-- col-3 -->
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="form-layout-footer pd-20">
                      <a routerLink="/rol" class="btn btn-secondary bd-0" style="color:white">Volver</a>
                      <button *ngIf="accessAdministrationEditLog" type="submit" class="btn btn-primary bd-0" style="margin-left: 3px;">Guardar</button>
                  </div><!-- form-layout-footer -->
              </form>
          </div><!-- form-layout -->
      </div><!-- section-wrapper -->
  </div>
</div>
<app-footer></app-footer>
