div .ex3 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
  }
  
  div .scroll_vertical {
	height: 50vh;
	width: 54vw;
	overflow: overlay;
	padding: 8px;
}

.w-33 {
  width: 33.33%;
  background-color: orange;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}