<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tiendas</li>
          </ol>
          <h6 class="slim-pagetitle">Tiendas/Locales</h6>
      </div><!-- slim-pageheader -->
      <div class="section-wrapper mg-t-20">
         <div class="row mg-t-12 mg-b-12 mg-l-12 mg-b-10" >
                     <div *ngIf="accessStoreEdit" class="col-lg-12" >
                  <a [routerLink]="['/tienda/new']" class="btn btn-success pull-right">
                      <i  class="fa fa-plus fa-lg"></i> Nuevo</a>
              </div>
          </div>
          <div class="table-responsive scroll_vertical">
               <table class="table table-striped">
                  <thead>
                  <tr>
                      <th class="text-center" padding="50px" style="cursor: pointer; width:12%" >Codigo</th>
                      <th class="text-center" style="cursor: pointer; width:50%;" >Descripcion</th>
                      <th class="text-center" style="cursor: pointer; width:10%;"></th>
                      <th class="text-center" style="cursor: pointer; width:10%;"></th>
                  </tr>
                  </thead>
                  <tbody>  
                        <tr style="height:10px;" *ngFor="let item of locals | paginate: { itemsPerPage: 10, currentPage: p }" > 
                          <th class="text-left">{{item.local.id}}</th>
                          <td class="text-left">{{item.local.description}}</td>
                          <td class="text-right">
                          <button (click)="edit(item.local)"  class="btn btn-secondary btn-sm">Ver</button>
                              </td>
                              <td class="text-center">
                                       
                               <!-- Button trigger modal --> 
                            <button *ngIf="accessStoreEdit" type="button" class= "btn btn-secondary btn-sm" data-toggle="modal" data-target="#eliminar" (click)="addLocal(item)">
                                    Eliminar
                                   </button>       
                                   <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                                <div class="modal-content" >
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="eliminarLabel">Eliminar Local</h4>
                            
                                                     </div>
                                                        <div class="modal-body">
                                                            <div class= "text-center">¿Quiere eliminar el local:{{deleteLoc.local.id}}? </div>                                                                    
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button  class="btn btn-default"  data-dismiss="modal" aria-label="Close" type="button">No</button>
                                                                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="submit"(click)="delete(deleteLoc.local,deleteLoc)" >Si</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div> 
                              </td>
                      </tr>
  
                    </tbody>
              </table>
          </div><!--table-responsive -->
          <pagination-controls  (pageChange)="p = $event" previousLabel=">"
              nextLabel="<"></pagination-controls> 
      </div><!-- section-wrapper -->
  </div>
</div>
<app-footer></app-footer>