mat-card{
    max-width: 960px;
    margin: 0 auto;
  }

/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
  }
  
  .menu:before {
    content: "[";
  }
  
  .menu:after {
    content: "]";
  }
  
  .menu > li {
    display: inline;
  }
  
  .menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
  }
  
  .acc-menu, .acc-menu ul{
    line-height:1.5;
    list-style:none;
    padding:0;
    margin:0;
}

.acc-menu > li{
    padding-left:1.5em;
}
.acc-menu li p{
    display:block;
    background:rgb(230,230,230);
    color:#444;
    text-decoration:none;
}
.acc-menu li p:hover{
    background:rgb(130,130,130);
}
.acc-menu > li > p{
    background:#78b800;
    color:white;
    font-weight:bold;
}
.acc-menu > li > p:hover{
    background:#40762e;
}
.acc-menu .checkbox-label ~ ul li,
.acc-menu .checkbox-label.current:checked ~ ul li{
    height:0;
    overflow:hidden;
    transition:.2s ease-in;
}
.acc-menu .checkbox-label:checked ~ ul li,
.acc-menu .checkbox-label.current ~ ul li{
    height:auto;
}
.acc-menu .checkbox-label {
    display: none;
}
.acc-menu label{
    display:block;
    float:left;
    content:"";
    margin-left:-1.5em;
    width:1.5em;
    height: 100%;
    text-align:center;
    background:#78b800;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.acc-menu  label:hover{
    background:#40762e;
}
.acc-menu  label:before,
    /*This flip-reverses the label */
.acc-menu .checkbox-label:checked.current  ~ label:before{
    content:"+";
}
.acc-menu .checkbox-label:checked ~ label:before,
.acc-menu .checkbox-label.current  ~ label:before{
    content:"-";
}

.checkbox-sel {
    margin-right: 0.5px !important;
    margin-top: 5px;
    transform: scale(1.1);
    float: right;
}

.table-wrapper-2 {
    display: block;
    max-height: 250px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

p {
    margin-bottom: 00px;

}