<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Actualizar Balanzas</li>
                </ol>
                <h6 class="slim-pagetitle">Actualizar Balanzas</h6>
            </div><!-- slim-pageheader -->
            <div class="section-wrapper mg-t-20">              
                <div class="row row-sm mg-t-20">
                    <div class="col-lg-3">
                        <div class="md-12">
                            Ordernar Por: <br>
                            <button class="btn mg-b-5"  style="width: 49% !important;" (click)=" showDescritionAndCode(true)">Código</button>
                            <p>
                            <button class="btn mg-b-5"  style="width: 50% !important;" (click)=" showDescritionAndCode(false)">Descripción</button>
                            
                        </div>
                        <div>
                            <button class="btn btn-success mg-b-5" style="width: 100% !important;" (click)="checkAll()">Seleccionar Todos</button>
                        </div>
                   
<!-- Inicio tiendas -->
    <ul class="acc-menu">
        <li class="parent" *ngFor="let item of local">
            <input type="checkbox" class="checkbox-label" name="accordion" data-target="#collapseOne" id="{{ item.local.id}}" (click)="getOnline(item.scales, item)"/>
                <label for="{{ item.local.id }}"></label>
                    <p class="mg-t-0-force mg-b-0-force">
                        {{item.local.id}} - {{ item.local.description}} 
                        <input type="checkbox" class="checkbox-sel" ng-model="local.checked" ng-click="local.checked = !local.checked; countLocal(local)"/></p>
                        <ul>
                        <li *ngFor="let scale of item.scales"  >
                            <p class="mg-t-0-force mg-b-0-force" *ngIf="scale.status==true"  >
                                {{scale.description}} - {{scale.ip}} <input type="checkbox" class="checkbox-sel" (change)="addScale(scale, $event)"/>
                            </p>
                            <p *ngIf="scale.status==false" class="mg-t-0-force mg-b-0-force"  style="background-color: brown; color:white" >
                                {{scale.description}} - {{scale.ip}} 
                            </p>
                        </li>
                        </ul>
        </li>
    </ul> 
                    </div><!-- col-4 -->
                     
      <!-- Fin tiendas -->
                     
        <div class="col-lg-9 mg-t-20 mg-lg-t-0" >
            <div class="bd" > 
            <div class="form-group">
                <div class="row mg-t-10 mg-b-10 mg-l-10">                   
                    <select [ngModel]="families" (ngModelChange)="changeLayout($event)">                               
                        <option  *ngFor="let item of layouts" [ngValue] = "item.families" >
                          {{item.layout.name}}                                   
                        </option>
                     </select> 
                    </div>
            </div>
                 </div>            
           
            
             <div class="bd" >    
        <div class="row mg-l-2"  >
            <div class="img- layout"  style="float:right; border:30px"  *ngFor="let family of families" >
                <img src="./assets/img/images//{{family.image}}"  
                class="img- layout" style="float:right; border:1px solid #ECECEE; margin-left: 10px; margin-bottom: 5px; margin-top: 5px" height="120" width="80">                          
            </div> 
            </div>
    </div>  
                 <!-- Button trigger modal -->
                            <button *ngIf="accessUpdateScale" type="button" class="btn btn-primary btn-lg pull-right" style="margin-top: 3px" data-toggle="modal" data-target="#exampleModal" (click)= "saveLayout()">
                               Enviar
                              </button> 
             </div> 

       </div>
    
                          
                                                 
                      
                           <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 536px;">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Actualizando Balanzas</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                 <div class="progress">
                                   <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                            </div>
                            <div class="modal-footer">
                              
                            </div>
                          </div>
                        </div>
                      </div>




              </div>
                            </div>
                        </div>
                  
                           

<app-footer></app-footer>