<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
                    <li class="breadcrumb-item"><a routerLink="/tienda" >Tiendas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
                </ol>
                <h6 class="slim-pagetitle">Tiendas/Locales</h6>
            </div><!-- slim-pageheader -->
            <div class="section-wrapper mg-t-20">
                <div class="form-layout form-layout-7">
                    <form [formGroup]="localForm" (ngSubmit)="save()">
                        <div class="row no-gutters">
                            <div class="col-5 col-sm-2">
                                Codigo:
                            </div><!-- col-4 -->
                            <div class="col-7 col-sm-10">
                                <input class="form-control"
                                      [(ngModel)]="local.id"
                                       type="text"
                                       name="code"
                                       id="code"
                                       required
                                       formControlName="code"
                                       required-message="'* Requerido'"
                                       placeholder="Ingrese el codigo"
                                       only-number>
                                <div *ngIf="submitted && f.code.errors" >
                                 <div *ngIf="f.code.errors.required">* Requerido</div>                             
                            </div>
                            </div><!-- col-8 -->
                        </div><!-- row -->
                        <div class="row no-gutters">
                            <div class="col-5 col-sm-2">
                                Descripción
                            </div><!-- col-4 -->
                            <div class="col-7 col-sm-10">
                                <input class="form-control"
                                      [(ngModel)]="local.description"
                                       type="text"
                                       name="description"
                                       id="description"
                                       required
                                       formControlName="description"
                                       required-message="'* Requerido'"
                                       placeholder="Ingrese descripcion">
                                <div *ngIf="submitted && f.description.errors" >
                                <div *ngIf="f.description.errors.required">* Requerido</div>                               
                             </div>
                            </div><!-- col-8 -->
                        </div><!-- row -->
                        <div class="row no-gutters">
                            <div class="col-5 col-sm-2">
                               Balanzas
                            </div><!-- col-4 -->
                            <div class="col-7 col-sm-10">
                                
<!-- Button trigger modal -->                    
                            
                                    <div class="list-group list-group-user">
                                        <div class="list-group-item" *ngFor="let item of scaleSelect" >
                                            <div class="user-name-address">
                                                <p>{{ item.id }}</p>
                                                <span>{{ item.description }}</span>
                                                <span>{{ item.ip }}</span>
                                            </div>
                                            <div class="user-btn-wrapper">
                                                <a class="btn btn-outline-light btn-icon" (click)="removeScale(item)" data-toggle="tooltip -static-demo" data-placement="top" title="Eliminar" >
                                                    <div class="tx-20"><i class="icon ion-android-remove"></i></div>
                                                </a>
                                                <a class="btn btn-outline-light btn-icon"  (click)="viewScale(item)" data-toggle="modal" data-target="#exampleModalEdit" data-placement="top" title="Editar" >
                                                    <div class="tx-20"><i class="icon ion-ios-eye"></i></div>
                                                </a>
                                            </div><!-- col-8 -->
                                        </div><!-- row -->
                                            </div>
                                        <!-- list-group-item -->
                                   <!-- list-group -->
                                   <button type="button" style="margin-top: 10px" class="btn btn-primary" data-toggle="modal"  data-target="#exampleModal">
                                        Agregar Balanzas
                                </button>   
                               
                                </div>
                            </div><!-- row -->
                        <div class="form-layout-footer pd-20">
                            <a routerLink="/tienda"  class="btn btn-secondary bd-0" style="color:white">Volver</a>
                            <button type=submit style="margin-left: 3px" class="btn btn-primary bd-0">Guardar</button>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div><!-- section-wrapper -->
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Balanzas</h5>
                        
            </div>
                    <div class="modal-dialog modal-lg"><div class="modal-content" uib-modal-transclude="">
                            <table _ngcontent-jeu-c7="" class="table table-hover mg-b-0">
                                <thead _ngcontent-jeu-c7=""><tr _ngcontent-jeu-c8="">
                                   
                                </thead><tbody _ngcontent-jeu-c7="">
                               </tbody></table>
                        <div class="modal-body ng-scope" id="modal-body">
                            <div class="form-layout form-layout-7">
                                <form  angular-validator="" novalidate=""   class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
                                    <div class="row no-gutters">
                                        <div class="col-3 col-sm-4">
                                            Codigo
                                        </div><!-- col-4 -->
                                       <div class="col-7 col-sm-8">
                                                 <input class="form-control" [(ngModel)]="scale.code"  type="text" name="code" id="code" required="" required-message="'* Requerido'" placeholder="Ingrese codigo">
                                        </div><!-- col-8 -->
                                    </div><!-- row -->
                                    <div class="row no-gutters">
                                        <div class="col-5 col-sm-4">
                                            Descripción
                                        </div><!-- col-4 -->
                                        <div class="col-7 col-sm-8">
                                            <input class="form-control" [(ngModel)]="scale.description"  type="text" name="description" id="description" required="" required-message="'* Requerido'" placeholder="Ingrese descripción">
                                        </div><!-- col-8 -->
                                    </div><!-- row -->
                                    <div class="row no-gutters">
                                        <div class="col-5 col-sm-4">
                                            IP
                                        </div><!-- col-4 -->
                                        <div class="col-7 col-sm-8">
                                            <input class="form-control"  [(ngModel)]="scale.ip" type="text" name="description" id="description" required="" required-message="'* Requerido'" placeholder="Ingrese IP">
                                        </div><!-- col-8 -->
                                    </div><!-- row -->
                                </form>
                            </div><!-- form-layout -->
                        </div>
                        <div class="modal-footer ng-scope">
                            <button class="btn btn-primary" type="submit" data-dismiss="modal" aria-label="Close" (click)="addScale(scale)">Ok</button>
                            <button class="btn btn-warning"  data-dismiss="modal" aria-label="Close" type="button" (click)="cancelAdd()">Cancel</button>
                        </div>
                    </div>
                </div>
          
                 
          </div>
        </div>
      </div>  
           <!-- Modal -->
      <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Balanzas</h5>
                        
            </div>
            <div class="modal-body">
                    <div class="modal-dialog modal-lg"><div class="modal-content" uib-modal-transclude="">
                            <table _ngcontent-jeu-c7="" class="table table-hover mg-b-0">
                                <thead _ngcontent-jeu-c7=""><tr _ngcontent-jeu-c8="">
                                   
                                </thead><tbody _ngcontent-jeu-c7="">
                               </tbody></table>
                        <div class="modal-body ng-scope" id="modal-body">
                            <div class="form-layout form-layout-7">
                                <form  angular-validator="" novalidate=""   class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
                                    <div class="row no-gutters">
                                        <div class="col-3 col-sm-4">
                                            Codigo
                                        </div><!-- col-4 -->
                                        <div class="col-7 col-sm-8">
                                         <input class="form-control" type="text"  
                                         [(ngModel)]="scale.id" name="code" id="code" required="" required-message="'* Requerido'" placeholder="Ingrese codigo" disabled="true">
                                        </div><!-- col-8 -->
                                    </div><!-- row -->
                                    <div class="row no-gutters">
                                        <div class="col-5 col-sm-4">
                                            Descripción
                                        </div><!-- col-4 -->
                                        <div class="col-7 col-sm-8">
                                            <input class="form-control" [(ngModel)]="scale.description"  type="text" name="description" id="description" required="" required-message="'* Requerido'" placeholder="Ingrese descripción">
                                        </div><!-- col-8 -->
                                    </div><!-- row -->
                                    <div class="row no-gutters">
                                        <div class="col-5 col-sm-4">
                                            IP
                                        </div><!-- col-4 -->
                                        <div class="col-7 col-sm-8">
                                            <input class="form-control"  [(ngModel)]="scale.ip" type="text" name="ip" id="ip" required="" required-message="'* Requerido'" placeholder="Ingrese IP">
                                        </div><!-- col-8 -->
                                    </div><!-- row -->
                                </form>
                            </div><!-- form-layout -->
                        </div>
                        <div class="modal-footer ng-scope">
                            <button class="btn btn-primary" type="submit" data-dismiss="modal" aria-label="Close" (click)="editScale(scale)" >Ok</button>
                            <button class="btn btn-warning"  data-dismiss="modal" aria-label="" type="button" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
                 
          </div>
        </div>
      </div> 
<app-footer></app-footer>