<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
              <li class="breadcrumb-item"><a routerLink="/product">Productos</a></li>
              <li class="breadcrumb-item active" aria-current="page">Editar</li>
          </ol>
          <h6 class="slim-pagetitle">Productos</h6>
      </div><!-- slim-pageheader -->
      <div class="section-wrapper mg-t-20">
          <div class="form-layout form-layout-7">
              <form [formGroup]="productoFrom" (ngSubmit)="update(product)">
                 <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Codigo:
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <input class="form-control"
                                 [(ngModel)]="product.id"
                                 type="text"
                                 name="code"
                                 formControlName="code"
                                 id="code"
                                 required
                                 required-message="'* Requerido'"
                                 placeholder="Ingrese el codigo"
                                 only-number 
                                 disabled="true">
                          <div *ngIf="submitted && f.code.errors" >
                                 <div *ngIf="f.code.errors.required">* Requerido</div>
                             <div *ngIf="f.code.errors.pattern">Invalido</div>
                            </div>
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Descripción
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                          <input class="form-control"
                                [(ngModel)]="product.description"
                                 type="text"
                                 name="description"
                                 formControlName="description"
                                 id="description"
                                 required
                                 required-message="'* Requerido'"
                                 placeholder="Ingrese descripcion">
                          <div *ngIf="submitted && f.description.errors" >
                                <div *ngIf="f.description.errors.required">* Requerido</div>                               
                             </div>
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="row no-gutters">
                      <div class="col-5 col-sm-2">
                          Imagen 
                      </div><!-- col-4 -->
                      <div class="col-7 col-sm-10">
                            <img src="assets/img/images/{{product.image}}"  height="120" width="80">                           
                            <input type="file" id="archivoInput" name="ImagenFile" (change)="onFileSelected($event)"  placeholder="Seleccione Imagen"   accept=".png, .jpg, .bmp" />
                      </div><!-- col-8 -->
                  </div><!-- row -->
                  <div class="form-layout-footer pd-20">
                      <a routerLink="/product" class="btn btn-secondary bd-0" style="color:white">Volver</a>
                      <button  *ngIf="accessProductEdit" class="btn btn-primary bd-0" style="margin-left: 3px;">Guardar</button>
                  </div><!-- form-layout-footer -->
              </form>
          </div><!-- form-layout -->
      </div><!-- section-wrapper -->
  </div>
</div>
<app-footer></app-footer>