<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
          </ol>
          <h6 class="slim-pagetitle">Usuarios</h6>
      </div><!-- slim-pageheader -->
      <div class="section-wrapper mg-t-20">
          <div class="row mg-t-12 mg-b-12 mg-l-12 mg-b-10" >
              <div *ngIf="accessAdministrationEdit" class="col-lg-12">
                  <a [routerLink]="['/user/new']"class="btn btn-success pull-right">
                      <i class="fa fa-plus fa-lg"></i> Nuevo</a>
              </div>
          </div>

          <div class="table-responsive scroll_vertical">
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th class="text-center" style="cursor: pointer;" >Usuario</th>
                      <th class="text-center" style="cursor: pointer;" >Nombre</th>
                      <th class="text-center" style="cursor: pointer;" >Apellido</th>
                      <th class="text-center" style="cursor: pointer;" >Rol</th>
                      <th></th>
                      <th ></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of users | paginate: { itemsPerPage: 10, currentPage: p }"> 
                        <th scope="row" class="text-center">{{item.userF.userName}}</th>
                        <td class="text-center">{{item.userF.name}}</td>
                        <td class="text-center">{{item.userF.lastName}}</td>
                        <td class="text-center">{{item.rol.name}}</td>
                        <td class="text-center">
                          <button  (click)= "edit(item.userF)" class="btn btn-secondary btn-sm">Ver</button> 
                         </td>
                            <td class="text-center">
                                  
                               <!-- Button trigger modal --> 
                            <button *ngIf="accessAdministrationEdit" type="button" class= "btn btn-secondary btn-sm" data-toggle="modal" data-target="#eliminar" (click)="addUser(item)">
                                    Eliminar
                                   </button>       
                                   <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                                <div class="modal-content" >
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="eliminarLabel">Eliminar Usuario</h4>
                            
                                                     </div>
                                                        <div class="modal-body">
                                                            <div class= "text-center">¿Quiere eliminar el Usuario: {{user.userF.userName}}? </div>                                                                    
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button  class="btn btn-default"  data-dismiss="modal" aria-label="Close" type="button">No</button>
                                                                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="submit"(click)="delete(user.userF.id,user)" >Si</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>                                    
                              </td>
                       </tr>

                  </tbody>
              </table>
          </div><!-- table-responsive -->
        <pagination-controls (pageChange)="p = $event" previousLabel=">"
         nextLabel="<"></pagination-controls>
      </div><!-- section-wrapper -->
  </div>
</div>
<app-footer></app-footer>
