<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
	<div class="container">
	  <div class="slim-pageheader">
		<ol class="breadcrumb slim-breadcrumb">
		  <li class="breadcrumb-item"><a href="/">Inicio</a></li>
		  <li class="breadcrumb-item active" aria-current="page">Actividades</li>
		</ol>
	
		<h6 class="slim-pagetitle">Actividades</h6>
	  </div><!-- slim-pageheader -->
	  <div class="section-wrapper mg-t-20">
  
		  <div class="row mg-t-10 mg-b-10 mg-l-10">
			<div class="col-md-5">
			  <label for="middle-name" class="control-label col-md-4 col-sm-4 col-xs-12">Desde</label>
			  <div class="col-md-12 col-sm-12 col-xs-12">
					<input class="form-control-search col-md-12 col-sm-12 col-xs-12" [(ngModel)]='search'  type="date" step="1" min="2019-08-01"  value="2019-08-28"  > 
			  </div>
			</div>
			<div class="col-md-5">
			   <label for="middle-name" class="control-label col-md-4 col-sm-4 col-xs-12">Hasta</label>
			  <div class="col-md-12 col-sm-12 col-xs-12">
					<input class="form-control-search col-md-12 col-sm-12 col-xs-12" [(ngModel)]='search'  type="date"  step="1"  max="2019-08-28"   > 
			  </div>
			</div>
			<div class="col-md-2">
			  <input type="button" class="btn btn-success" value="Exportar" (click)="getReporte">
			</div>
		</div>
	  </div>
	  <div class="section-wrapper mg-t-20">
  
		<div class="">
		  <table class="table mg-b-0 tx-13">
			  
			<thead>
			<tr class="tx-10">
			  <th class="pd-y-5">ACTIVIDAD</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>
			  <th class="pd-y-5 tx-center">COMPONENTE</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>
			  <th class="pd-y-5 tx-center">USUARIO</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>
			  <th class="pd-y-5 tx-center">FECHA</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>
			  <th class="pd-y-5 tx-center">&nbsp;</th>	  
		
			</tr>
			</thead>
			<tbody>
			<tr dir-paginate="activity in activities |  paginate: { itemsPerPage: 20, currentPage: p }">
  
			  <td class="valign-middle tx-left" >Actualización Layout</td>
			  <td class="valign-middle tx-left" ></td>
			  <td class="valign-middle tx-left" >Prueba</td>
			  <td class="valign-middle tx-left" ></td>
			  <td class="valign-middle tx-left" >Allcom Chile</td>
			  <td class="valign-middle tx-left" ></td>
			  <td class="valign-middle tx-left" >28/08/2019 09:18</td>
			  <td class="valign-middle text-center">

			  </td>
			  <td class="valign-middle text-center">
			
				<button class="btn btn-secondary" >Familia</button>
			  </td>
			</tr>
  
			</tbody>
		  </table>
		  <pagination-controls  (pageChange)="p = $event" previousLabel=">"	
				nextLabel=">"></pagination-controls>   
		</div><!-- table-responsive -->
			
	  </div><!-- section-wrapper -->
	</div>
  </div>-->
  <app-footer></app-footer> 
