<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
  <div class="container">
      <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Layouts</li>
          </ol>
          <h6 class="slim-pagetitle">Layouts</h6>
      </div><!-- slim-pageheader -->
      
      <div class="section-wrapper mg-t-20">
          <div class="row mg-t-12 mg-b-12 mg-l-12 mg-b-10" >
              <div class="col-lg-12">
                  <form name="layouts-listForm" ></form>
                  <a *ngIf="accessLayoutEdit" [routerLink]="['/layout/new']" class="btn btn-success pull-right">
                      <i class="fa fa-plus fa-lg" ></i> Nuevo</a>
                      
                    <!-- Button trigger modal -->
<button *ngIf="accessLayoutEdit" type="button" class="btn btn-success pull-right mg-r-10" style="margin-left: 3px; margin-bottom: 10px" data-toggle="modal" data-target="#copiarLayout"><i class="fa fa-clone fa-lg"></i> 
        Copiar Layout
      </button>  
     <div class="table-responsive scroll_vertical">
      <table   class="table table-striped">
            <thead class="mdb-color lighten-4">
            <tr>
                 <th class="text-center" padding="50px" style="cursor: pointer; width:12%;" >Codigo</th>
                 <th class="text-center" style="cursor: pointer; width:50%;" >Descripcion</th>
                 <th class="text-center" style="cursor: pointer; width:10%;"></th>
                 <th class="text-center" style="cursor: pointer; width:10%;"></th>
            </tr>
            </thead>     
        
                    <tbody>
                        <tr *ngFor="let item of layouts | paginate: { itemsPerPage: 10, currentPage: p }"> 
                            <th  class="text-left">{{item.layout.id}}</th>
                            <td class="text-left">{{item.layout.name}}</td>
                          <td class="text-right">
                          <button (click)="edit(item.layout)"  class="btn btn-secondary btn-sm">Ver</button>
                              </td>
                              <td class="text-center">
                                  
                               <!-- Button trigger modal --> 
                            <button *ngIf="accessLayoutEdit" type="button" class= "btn btn-secondary btn-sm" data-toggle="modal" data-target="#eliminar" (click)="addLayoutDelete(item)">
                                    Eliminar
                                   </button>       
                                   <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                                <div class="modal-content" >
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="eliminarLabel">Eliminar Layout</h4>
                            
                                                     </div>
                                                        <div class="modal-body">
                                                            <div class= "text-center">¿Quiere eliminar el layout:{{laydelete.layout.id}}? </div>                                                                    
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button  class="btn btn-default"  data-dismiss="modal" aria-label="Close" type="button">No</button>
                                                                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="submit"(click)="delete(laydelete.layout,laydelete)" >Si</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>                                    
                              </td>
                        </tr>
                                
                    </tbody>
                </table>
            </div><!-- table-responsive -->
             <pagination-controls (pageChange)="p = $event" previousLabel=">"
                nextLabel="<"></pagination-controls>
        </div><!-- section-wrapper -->
    </div>
  </div>
  </div>
<app-footer></app-footer>


        <!-- Modal -->
      <div class="modal fade" id="copiarLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Copiar Layout</h5>
                 
                      </div>
              <form action="">
                  <div class="modal-body">
                          <div class="modal-dialog">
                              <div class="modal-content" >
                                  <div style="text-align: right; padding: 10px;">
                                          Buscar <input type="text" [(ngModel)]='search' placeholder="Buscar" #filtro >
                                      </div>
                                 <div class=" table-responsive scroll_vertical">
                                <table class="table table-striped" >
                                  <thead>
                                  <tr>
                                      <th  class="text-center" style="cursor: pointer; width:50%">Nombre</th>
                                      <th  class="text-center" style="cursor: pointer; width:50%">Seleccionar</th>
                                  </tr>
                                  </thead>
                                  <tbody>
      
      <tr>
   <th  class="text-center">
    </th>   
        <tr *ngFor="let item of layouts | searchfilter : 'name' : filtro.value"> 
                <th class="text-left">{{item.layout.name}}</th>              
                <td class="text-center">
                 <input type="radio" (change)="addLayout(item, $event)"/>
                </td> 
        </tr>
      </tbody> 
      </table>
       </div>                     
      <div class="modal-body" id="modal-body">
      <div class="form-layout form-layout-7">
      
                                  </div><!-- form-layout -->
                              </div>
                          
                              <div class="modal-footer">
                                  <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="button"  >Aceptar</button>
                                  <button class="btn btn-warning"  data-dismiss="modal" aria-label="Close" type="button">Cancelar</button>
                              </div>
                          </div>
                              </div>
                  </div>
              </form>
            </div>
            