<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/layout" >Layouts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
            </ol>
            <h6 class="slim-pagetitle">Layouts</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper mg-t-20">
            <div class="form-layout form-layout-7">
                <form [formGroup]="layoutForm" (ngSubmit)="save()" >
                <div class="row no-gutters">
                    <div class="col-5 col-sm-2">
                        Codigo:
                    </div><!-- col-4 -->
                    <div class="col-7 col-sm-10">
                        <input class="form-control"
                               [(ngModel)]="layout.id"                               
                               type="text"
                               name="code"
                               formControlName="code"
                               id="code"
                               only-number>
                        <div *ngIf="submitted && f.code.errors" >
                            <div *ngIf="f.code.errors.required">* Requerido</div>                            
                        </div>
                    </div><!-- col-8 -->
                </div><!-- row -->
                <div class="row no-gutters">
                    <div class="col-5 col-sm-2">
                        Nombre:
                    </div><!-- col-4 -->
                    <div class="col-7 col-sm-10">
                        <input class="form-control"
                              [(ngModel)]="layout.name"
                               type="text"
                               name="name"
                               formControlName="name"
                               id="name">
                        <div *ngIf="submitted && f.name.errors" >
                                <div *ngIf="f.name.errors.required">* Requerido</div>                               
                        </div>
                    </div><!-- col-8 -->
                </div><!-- row -->
            
  <!-- Button trigger modal -->
        <div class="section-wrapper mg-t-20" >
           <div class="col-lg-8 mg-t-10 mg-lg-t-0" >
                    <div class="row mg-l-2"  >
                        <div class="img- layout"  style="float:right; border:30px" data-toggle="modal" data-target="#layout" *ngFor="let item of selectFamily" (click)="addFamilyDelete(item)" >
                                <img src="./assets/img/images//{{item.image}}"  
                                class="img- layout" style="float:right; border:1px solid #ECECEE; margin-left: 10px" height="120" width="120">                          
                                                     
                         <div class="modal fade" id="layout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body" id="modal-body" >   
                                                    <div class="col-sm-12 col-md-12">    
                                                    <button type="button" data-dismiss="modal" class="btn btn-primary  btn-block mg-b-10"(click)="removeFamily(familydelete)" >Quitar</button>
                                                    <button  class="btn btn-primary btn-block mg-b-10"data-toggle="modal" data-target="#Imagen">Cambiar</button>
                                                    <button  class="btn btn-primary btn-block mg-b-10" >Ver Familia</button>
                                                </div><!-- btn-demo -->
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                            
                        </div>
                            <div class="img- layout"  style="float:right; border:30px" data-toggle="modal" 
                            data-target="#exampleModal" ><img src="./assets/img/images/mas.svg" 
                            class="img- layout" style="float:right; border:1px solid #ECECEE; margin-left: 10px" height="120" width="120" >
                            </div>
                            
                    </div>
                          
            </div>  
      </div><!-- row -->
      <!-- Modal -->
           <div class="modal fade" id="Imagen" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
                    <div class="modal-content" >
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Seleccione Imagen</h5>                  
            
            </div>
                <div class="modal-body">
                        <div class="modal-dialog"><div class="modal-content" >
                                <div style="text-align: right; padding: 10px;">
                                        Buscar <input type="text" [(ngModel)]='search' placeholder="Buscar" #filtro >
                                    </div>
                                 <div class=" table-responsive scroll_vertical">
                                <table class="table table-striped" >
                                <thead class="mdb-color lighten-4">
                                 <tr class="th-lg">
                                    <th  class="text-center" style="cursor: pointer; width:12%">Codigo</th>
                                    <th  class="text-left" style="cursor: pointer;width:50%;">Descripcion</th>
                                    <th class="text-center" style="cursor: pointer; width:60%;">Seleccionar</th>                        
                                </tr>
                                </thead>
                                <tbody>
    <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
     <tr>
        <th scope="row"  class="text-center">
    </th>   
     <tr *ngFor="let item of families | searchfilter : 'id' : filtro.value"> 
                <th class="text-center">{{item.family.id}}</th>
                <td class="text-left">{{item.family.description}}</td>                
                <td class="text-center">
                    <input type="radio" name="optradio" [(checked)]=item.checked (change)="addFamilyTemp(item, $event)"/>
                </td> 
        </tr>
</tbody>
</table>
</div>
<div class="modal-body" id="modal-body">
<div class="form-layout form-layout-7">
                                
                            </div><!-- form-layout -->
                        </div>
                        <div class="modal-footer ">
                            <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="button" (click)= "addFamily()" >Aceptar</button>
                            <button  class="btn btn-warning"  data-dismiss="modal" aria-label="Close" type="button" (click)= "clearFamily()">Cancelar</button>
                        </div>
                        </div>
                        </div>
            </div>
           
          </div>
        </div>
      </div>   
       <div class="form-layout-footer pd-20">
           
      <button class="pull-left" *ngFor="let item of page"  type="button" class="btn btn-primary bd-0" >
           {{item.name}}
       </button> 
 
        <ul style="margin-top: 3px;" class="pull-left" uib-pagination direction-links="false"
            total-items="totalItems" ng-change="" ng-model="currentPage" num-pages="smallnumPages"></ul>
          <button type="submit" class="btn btn-primary bd-0 pull-right"  
                style="margin: 3px;">Guardar
        </button>
        <button type="button" class="btn btn-primary bd-0 pull-right" (click)= "removePage()"
                style="margin: 3px;">
            Eliminar Página
        </button>
        <button type="button" class="btn btn-primary bd-0 pull-right" (click)= "agregarPage(newPage)"  style="margin: 3px;">
            Nueva Página
        </button>
        <a routerLink="/layout" class="btn btn-secondary bd-0 pull-right " style="margin: 3px; color:white">Volver</a>
    </div><!-- form-layout-footer -->
    </form>
   </div>
</div><!-- section-wrapper -->
        </div><!-- row -->
    </div>
<app-footer></app-footer>