<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Roles</li>
            </ol>
            <h6 class="slim-pagetitle">Roles</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper mg-t-20">
            <div class="row mg-t-12 mg-b-12 mg-l-12 mg-b-10" >
                <div *ngIf="accessAdministrationEdit" class="col-lg-12">
                    <a [routerLink]="['new']" class="btn btn-success pull-right">
                        <i class="fa fa-plus fa-lg"></i> Nuevo</a>
                </div>
            </div>

            <div class="table-responsive scroll_vertical">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="cursor: pointer;">Nombre</th>
                            <th class="text-center" style="cursor: pointer;" >Descripcion</th>
                            <th></th>
                            <th ></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height:10px;" *ngFor="let item of rols | paginate: { itemsPerPage: 10, currentPage: p }"> 
                            <th  class="text-left">{{item.name}}</th>
                            <td class="text-left">{{item.description}}</td>                            
                            <td class="text-right">
                                 <button  (click)= "edit(item)" class="btn btn-secondary btn-sm">Ver</button>                           
                            </td>
                                  <td class="text-center">                                   
                                       <!-- Button trigger modal --> 
                            <button *ngIf="accessAdministrationEdit" type="button" class= "btn btn-secondary btn-sm" data-toggle="modal" data-target="#eliminar" (click)="addRol(item)">
                                    Eliminar
                                   </button>       
                                   <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                                <div class="modal-content" >
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="eliminarLabel">Eliminar Rol</h4>
                            
                                                     </div>
                                                        <div class="modal-body">
                                                            <div class= "text-center">¿Quiere eliminar el rol: {{rol.name}}? </div>                                                                    
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button  class="btn btn-default"  data-dismiss="modal" aria-label="Close" type="button">No</button>
                                                                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="submit"(click)="delete(rol)" >Si</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>  
                                </td>                           
                            
                        </tr>
                    </tbody>
                </table>    
            </div><!-- table-responsive -->
           <pagination-controls  (pageChange)="p = $event" previousLabel=">"	
	    nextLabel=">"></pagination-controls>  
        </div><!-- section-wrapper -->
    </div>
</div>
<app-footer></app-footer>
