<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/family">Familias</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
            </ol>
            <h6 class="slim-pagetitle">Familias</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper mg-t-20">
            <div class="form-layout form-layout-7">
            <form [formGroup]="familyForm" (ngSubmit)="save()" >
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Codigo:
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                  [(ngModel)]="family.id"
                                  (keypress)="OnlyNumbers($event)"
                                   type="text"
                                   name="code"
                                   id="code"
                                   formControlName="code"
                                   required
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese el codigo"
                                   only-number>
                             <div *ngIf="submitted && f.code.errors" >
                                 <div *ngIf="f.code.errors.required">* Requerido</div>
                             <div *ngIf="f.code.errors.pattern">Invalido</div>
                            </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Descripción
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                   [(ngModel)]="family.description"
                                   type="text"
                                   name="description"
                                   formControlName="description"
                                   id="description"
                                   required
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese descripción">
                            <div *ngIf="submitted && f.description.errors" >
                                <div *ngIf="f.description.errors.required">* Requerido</div>                               
                             </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Imagen
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                        <input type="file" id="archivoInput" name="ImagenFile" (change)="onFileSelected($event)" placeholder="Seleccione Imagen"   accept=".png, .jpg, .bmp" />
                            
                        </div><!-- col-8 -->
                    </div><!-- row -->
  <!-- Button trigger modal -->
        <div class="section-wrapper mg-t-20" >
           <div class="col-lg-8 mg-t-10 mg-lg-t-0" >
                    <div class="row mg-l-2"  >
                        <div class="img- layout"  style="float:right; border:30px"  data-toggle="modal" 
                        data-target="#modalbutton"  *ngFor="let item of selectProduct" (click)="addProduct(item)" >
                                <img src="{{url}}/img/{{item.image}}"  
                                class="img- layout" style="float:right; border:1px solid #ECECEE" height="120" width="120">                          
                                    
                    </div>
                            <div class="img- layout"  style="float:right; border:30px" data-toggle="modal" 
                            data-target="#checked" ><img src="./assets/img/images/mas.svg" 
                            class="img- layout" style="float:right; border:1px solid #ECECEE" height="120" width="120" >
                            </div>
                            
                    </div>
                          
            </div>  
      </div><!-- row -->
      
                                                      
                        <!-- Button trigger modal -->
      <!-- Modal cambiar -->
                    <div class="modal fade" id="modalbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                    <div class="modal-body" id="modal-body">
                        <button type="submit" class="btn btn-primary  btn-block mg-b-10" data-dismiss="modal" aria-label="Close" (click)="removeProduct(product)">Quitar</button>
                        <button data-toggle="modal"  data-dismiss="modal" class="btn btn-primary  btn-block mg-b-10"  aria-label="Close" data-target="#radio">Cambiar</button>
                    </div><!-- btn-demo -->
                    </div>
                    </div>
                    </div>
      
        <!-- Modal radio-->
      <div class="modal fade" id="radio" tabindex="-1" role="dialog" aria-labelledby="cambiarLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content" >
                      <div class="modal-header">
                        <h5 class="modal-title" id="cambiarLabel">Seleccione Producto</h5>
            </div>
            <form action="">
                <div class="modal-body">
                        <div class="modal-dialog"><div class="modal-content" uib-modal-transclude="">
                                 <div style="text-align: right; padding: 10px;">
                                        Buscar <input type="text"  [(ngModel)]='search' placeholder="Buscar" #filtro >                            
                                   </div>
                            <div class="table-responsive scroll_vertical">
                            <table class="table table-striped" >
                                <thead class="mdb-color lighten-4">
                                 <tr class="th-lg">
                                    <th   class="text-center" style="cursor: pointer; width:12%;">Codigo</th>
                                    <th  class="text-left" style="cursor: pointer; width:50%;">Descripcion</th>
                                    <th  class="text-center" style="cursor: pointer; width:60%;">Seleccionar</th>                        
                                </tr>
                                </thead>
                                <tbody>
    <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
      <tr>
        <th  class="text-center" >
    </th> 
   <tr *ngFor="let item of products| searchfilter : 'id' : filtro.value"> 
            <th  class="text-left">{{item.id}}</th>
            <td class="text-left">{{item.description}}</td>            
            <td class="text-center">
                <input ngShow="row" type="radio" name="radio" (change)="changeProductTemp(item,$event)"/>
            </td> 
    </tr>
    </tbody> 
    </table>
    </div>
    <div class="modal-body" id="modal-body">
    <div class="form-layout form-layout-7">
    
                                </div><!-- form-layout -->
                            </div>
                        
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" data-dismiss="modal" aria-label="Close" (click)="addProducts($event)">Aceptar</button>
                                <button  class="btn btn-warning"  data-dismiss="modal" aria-label="Close" type="submit" (click)= "clearProducts()">Cancelar</button>
                            </div>
                        </div>
                            </div>
                </div>
            </form>         </div>
        </div>
      </div>             
      
      <!-- Modal checked -->
      <div class="modal fade" id="checked" tabindex="-1" role="dialog"  >
            <div class="modal-dialog" role="document">
                    <div class="modal-content"  >
                      <div class="modal-header">
                        <h5 class="modal-title" id="quitarLabel">Seleccione Producto</h5>                  
            
            </div>
            <form action="">
                <div class="modal-body">
                        <div class="modal-dialog modal-lg"><div class="modal-content" uib-modal-transclude="">
                                <div style="text-align: right; padding: 10px;">
                                        Buscar <input type="text"  [(ngModel)]='search' placeholder="Buscar" #filtro >
                                  
                                   </div>
                                <div class=" table-responsive scroll_vertical">
                                <table class="table table-striped" >
                                <thead class="mdb-color lighten-4">
                                 <tr class="th-lg">
                                    <th  class="text-center" style="cursor: pointer; width:12%;">Codigo</th>
                                    <th  class="text-left" style="cursor: pointer; width:50%;">Descripcion</th>
                                    <th class="text-center" style="cursor: pointer; width:60%;" >Seleccionar</th>                        
                                </tr>
                                </thead>
                                <tbody>
    <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
     <tr scope="row"  >
        <th scope="row"  class="text-center">
    </th>   
    <tr *ngFor="let item of products| searchfilter : 'id' : filtro.value"> 
            <th  class="text-center">{{item.id}}</th>
            <td class="text-left">{{item.description}}</td>        
            <td class="text-center">
                <input ngShow="row" id="is3dCheckBox" type="checkbox" [(checked)]=item.checked (change)="addProductoTemp(item, $event)"/>
            </td> 
    </tr>
    </tbody> 
    </table>
     </div>
    <div class="modal-body " id="modal-body">
    <div class="form-layout form-layout-7">
            <div class="list-group list-group-user">
                   
            </div>
    </div><!-- form-layout -->
    </div>
                          
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-label="Close" type="submit" (click)= "addProducts($event)" >Aceptar</button>
            <button type="submit" class="btn btn-warning" data-dismiss="modal" aria-label="Close" (click)= "clearProducts()">Cancelar</button>
            </div>
              </div>
             </div>
            </div>
            </form>
          </div>
        </div>
      </div>  
        
                    <div class="form-layout-footer pd-20" style= "border:1px #FFFFFF">
                        <a routerLink="/family" class="btn btn-secondary bd-0" style="color:white">Volver</a>
                        <button type=submit style="margin-left: 3px"   class="btn btn-primary bd-0">Guardar</button>
                    </div><!-- form-layout-footer -->
                </form>
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->
    </div>
  </div>  
<app-footer></app-footer>