li:hover {
  cursor: pointer;
}

p {
    margin-bottom: 00px;

}

div .ex3 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
  }
  
  .scroll_vertical {
	height: 50vh;
	width: 46vw;
	overflow: auto;

	padding: 8px;
}



