
<div class="slim-footer">
  <div class="container">
    <p>Copyright 2019 &copy; Todos los derechos reservados Allcom</p>
    <p>Version <a href="">1.0</a></p>
  </div><!-- container -->
</div><!-- slim-footer -->