
<div class="slim-navbar">
    <div class="container">
        <ul class="nav">
            <li *ngIf="accessStatistics" class="nav-item with-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">              
                <a class="nav-link" [routerLink]="['/panel']">
                   <i class="icon ion-stats-bars"></i>
                    <span>Estadisticas</span>
                </a>
            </li>
            <li *ngIf="accessStore" class="nav-item with-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" >
                    <i class="icon ion-ios-filing-outline"></i>
                    <span>BALANZA</span>
                </a>
                 <div class="sub-item mega-dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <div>
                        <div>                       
                          <ul>
                             <li *ngIf="accessStore" class="nav-item">
                             <li><a [routerLink]="['/tienda']">Tiendas</a></li>
                         </ul>
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- col -->
               </li>
            <li *ngIf="accessLayout || accessUpdateScale" class="nav-item with-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                 <a class="nav-link" data-toggle="dropdown-menu">
                <i class="icon ion-ios-analytics-outline"></i>
                <span>LAYOUTS</span>
              </a>
                <div class="sub-item">
                    <ul>
                        <li *ngIf="accessLayout" class="nav-item" >
                             <li><a [routerLink]="['/layout']">Layouts</a></li>
                       
                        <li *ngIf="accessUpdateScale" class="nav-item">
                            <li><a [routerLink]="['/layouts']">Actualizar Balanza</a></li>
                        
                    </ul>
                </div><!-- dropdown-menu -->
            </li>
            <li *ngIf="accessProduct || accessFamily" class="nav-item with-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" data-toggle="dropdown-menu">
                <i class="icon ion-pricetag"></i>
                <span>PRODUCTOS</span>
              </a>
                <div class="sub-item">
                    <ul>
                        <li *ngIf="accessProduct" class="nav-item">
                            <li><a [routerLink]="['/product']">Productos</a></li>
                        <li *ngIf="accessFamily" class="nav-item">
                             <li><a [routerLink]="['/family']">Familia</a></li>                                              
                    </ul>
                </div><!-- dropdown-menu -->
            </li>
            <li *ngIf="accessAdministration" class="nav-item with-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
               <a class="nav-link"  data-toggle="dropdown-menu" >
                <i class="icon ion-ios-gear-outline"></i>
                <span>ADMINISTRACION</span>
              </a>
                <div class="sub-item">
                    <ul>    

                        <li *ngIf="accessAdministration" class="nav-item">
                            <li><a [routerLink]="['/user']">Usuario</a></li>
                        
                        <li *ngIf="accessAdministration" class="nav-item">
                            <li><a [routerLink]="['/rol']">Rol</a></li>
                        <li *ngIf="accessActivity" class="nav-item">
                            <li><a  [routerLink]="['/actividades']">Actividades</a></li>                        
                    </ul>
                </div><!-- dropdown-menu -->
            </li>

        </ul>

    </div><!-- container -->
</div><!-- slim-navbar -->
