<app-head></app-head>
<app-navbar></app-navbar>
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/panel">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/user">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
            <h6 class="slim-pagetitle">Usuarios</h6>
        </div><!-- slim-pageheader -->
        <div class="section-wrapper mg-t-20">
            <div class="form-layout form-layout-7">
                <form [formGroup]="userForm" (ngSubmit)="save()">
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Username:
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                   [(ngModel)]="user.userName"
                                   type="text"
                                   name="username"
                                   id="username"
                                   required
                                   formControlName="userName"
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese usuario">
                            <div *ngIf="submitted && f.userName.errors" >
                                 <div *ngIf="f.userName.errors.required">* Requerido</div>                             
                            </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Nombre:
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                   [(ngModel)]="user.name"
                                   type="text"
                                   name="name"
                                   id="name"
                                   required
                                   formControlName="name"
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese el nombre">
                            <div *ngIf="submitted && f.name.errors" >
                                <div *ngIf="f.name.errors.required">* Requerido</div>                               
                             </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Apellido:
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <input class="form-control"
                                   [(ngModel)]="user.lastName"
                                   type="text"
                                   name="last_name"
                                   id="last_name"
                                   required
                                   formControlName="lastName"
                                   required-message="'* Requerido'"
                                   placeholder="Ingrese el Apellido">
                            <div *ngIf="submitted && f.lastName.errors" >
                                <div *ngIf="f.lastName.errors.required">* Requerido</div>                               
                             </div>
                        </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="row no-gutters">
                        <div class="col-5 col-sm-2">
                            Rol:
                        </div><!-- col-4 -->
                        <div class="col-7 col-sm-10">
                            <select (ngModelChange)="changeRol($event)" class="form-control" formControlName="rol">                                
                                <option label="Seleccione Rol" value=""></option>
                                <option *ngFor="let r of rols" value = "{{r.id}}" >
                                    {{r.name}}                                   
                            </option>
                        </select>
                            <div *ngIf="submitted && f.rol.errors" >
                                <div *ngIf="f.rol.errors.required">* Requerido</div>                               
                             </div>
                    </div><!-- col-8 -->
                </div><!-- row -->
                <div class="row no-gutters">
                    <div class="col-5 col-sm-2">
                        Contraseña:
                    </div><!-- col-4 -->
                    <div class="col-7 col-sm-10">
                        <input class="form-control"
                               [(ngModel)]="user.password"
                               type="password"
                               name="password"
                               id="password"
                               required
                               formControlName="password"
                               required-message="'* Requerido'"
                               placeholder="Ingrese Contraseña">
                             <div *ngIf="submitted && f.password.errors" >
                                <div *ngIf="f.password.errors.required">* Requerido</div>                               
                             </div>
                    </div><!-- col-8 -->
                </div><!-- row -->
                <div class="row no-gutters">
                    <div class="col-5 col-sm-2">
                        Verificacion:
                    </div><!-- col-4 -->
                    <div class="col-7 col-sm-10">
                        <input class="form-control"                              
                               type="password"
                               name="last_name"
                               id="last_name"
                               required
                               formControlName="confirmpassword"
                               required-message="'* Requerido'"
                               placeholder="Repita Contraseña">
                        <div *ngIf="submitted && f.confirmpassword.errors" >
                                <div *ngIf="f.confirmpassword.errors.required">* Requerido</div> 
                            <div *ngIf="f.confirmpassword.errors.mustMatch">Contraseña no coincide</div> 
                             </div>
                    </div><!-- col-8 -->
                </div><!-- row -->
                <div class="form-layout-footer pd-20">
                    <a routerLink="/user" class="btn btn-secondary bd-0" style="color:white">Volver</a>
                    <button type="submit" class="btn btn-primary bd-0" style="margin-left: 3px;">Guardar</button>
                </div><!-- form-layout-footer -->
            </form>
        </div><!-- form-layout -->
    </div><!-- section-wrapper -->
</div>
</div>
<app-footer></app-footer>
