<div class="signin-wrapper" >

    <div class="signin-box">
        <h2 class="slim-logo"><img src="./assets/img/images/logo_tottus.png" width="150px;"></h2>
        <h2 class="signin-title-primary">BIENVENIDO A BMGEST WEB CORPORATE</h2>
        <h5 class="signin-title-secondary">CONTROL AVANZADO DE BALANZAS</h5>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" id="UserName" name="username" [(ngModel)]="form.username" #username="ngModel"
                       required/>
                <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                </div>
            </div><!-- form-group -->
            <div class="form-group mg-b-50">
                <input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="form.password" #password="ngModel"
                       />
                <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <button class="btn btn-primary btn-block btn-signin">ACCEDER</button>
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                    Login failed: {{errorMessage}}
            </div>
        </div>
        <div style="display:block;margin-left: auto;margin-right: auto;">
            <img src="./assets/img/images/logo_marques.jpg" width="80px;" >
            <img src="./assets/img/images/bmgest_logo.png" width="80px;" style="margin-left: 10%;margin-right: 10%;">
            <img src="./assets/img/images/logo_allcom.jpg" width="80px;">
        </div>
    </form>
</div><!-- signin-box -->

</div><!-- signin-wrapper -->

